Repository armosec/system-tests, pull requests merged in 2024-06, with the labels that each got.

#361 Update systests for basic incident
  .gitignore
  infrastructure/backend_api.py
  tests_scripts/runtime/incidents.py
Labels: enhancement, Tests, Review effort [1-5]: 3

#393 update expected
  configurations/expected-result/V2_VIEWS/wl_details.json
  configurations/expected-result/V2_VIEWS/wl_filtered.json
Labels: Tests

#394 add seccomp in-cluster tests
  configurations/k8s_workloads/seccomp/nginx-seccomp-container.yaml
  configurations/k8s_workloads/seccomp/nginx-seccomp-pod.yaml
  configurations/k8s_workloads/seccomp/seccomp-nginx.yaml
  configurations/system/tests.py
  configurations/system/tests_cases/seccomp_tests.py
  infrastructure/kubectl_wrapper.py
  system_test_mapping.json
  systest-cli.py
  systest_utils/statics.py
  tests_scripts/helm/seccomp.py
  tests_scripts/kubernetes/base_k8s.py
Labels: enhancement, Tests, Review effort [1-5]: 4

#395 Add seccomp workloads list test
  configurations/k8s_workloads/seccomp/alpine-seccomp-pod-missing.yaml
  configurations/k8s_workloads/seccomp/alpine-seccomp-pod-optimized.yaml
  configurations/k8s_workloads/seccomp/alpine-seccomp-pod-overly-permissive.yaml
  configurations/k8s_workloads/seccomp/seccomp-alpine-optimized.yaml
  configurations/k8s_workloads/seccomp/seccomp-alpine-overly-permissive.yaml
  configurations/system/tests_cases/seccomp_tests.py
  infrastructure/backend_api.py
  system_test_mapping.json
  systest_utils/statics.py
  tests_scripts/helm/seccomp.py
Labels: enhancement, Tests, Review effort [1-5]: 4

#391 np pod restarted - morefixes
  tests_scripts/helm/network_policy.py
Labels: enhancement, Tests, Review effort [1-5]: 1

#398 fix sr_exceptions_test
  systest_utils/scenarios_manager.py
  tests_scripts/helm/ks_microservice.py
Labels: enhancement, Tests, Review effort [1-5]: 3

#400 fix test
  tests_scripts/helm/vuln_scan.py
Labels: Tests, Bug fix, Review effort [1-5]: 2

#401 Fix vulns test
  tests_scripts/helm/vuln_scan.py
Labels: Bug fix

#402 Fix vulns test
  tests_scripts/helm/vuln_scan.py
Labels: Bug fix, Review effort [1-5]: 2

#403 fix vulns test
  configurations/expected-result/V2_VIEWS/cve_details.json
Labels: Bug fix, Review effort [1-5]: 1
